* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    /*    height: 100vh;*/
    background-color: #e0e0e0;
    text-align: center;
    min-width: 320px;
}

#title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#form-outer {
    width: 80%;
    background-color: #6d4c41;
    padding: 1em 0;
    margin: 0 auto;
}

.description {
    font-size: 1.5em;
    margin: 0px 10px;
}

.block {
    margin: 10px 0;
}

label {
    display: inline-block;
    text-align: left;
}

.block_left {
    display: inline-block;
    width: 40%;
    text-align: right;
}
.block_right {
    display: inline-block;
    text-align: left;
    width: 48%;
}

.input_field {
    width: 75%;
    padding: 5px;
    margin: 10px;
    border: 1px solid rgba(192, 192, 192, 0.54);
    border-radius: 2px;
}
.block_list{
    list-style: none;
}
.input-field_radio {
    margin: 5px 10px;
}
.block_left_radio{
    display: inline-block;
    width: 40%;
    text-align: right;
    vertical-align: top;
}